.header {
  position: fixed;
  top: var(--header-margin);
  width: 100%;
  padding: 0 14px;
  transform: translateX(0) translateY(0) scale(1);
  transition: 0.8s ease-out;
  will-change: top, transform;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--header-margin);
  z-index: 2;
}

.headerRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0);
  will-change: transform;
  transition: 0.8s ease-out;
}

.title {
  position: absolute;
  left: -9999px;
}

.logo {
  position: relative;
  transition: 0.3s ease-out;
  aspect-ratio: 196 / 50;
  width: auto;
  overflow: visible;
  max-height: min(5dvh, var(--header-height));
}

.logo path {
  fill: var(--color-text);
  animation: fadeInLetter 1s ease-out forwards;
  animation-delay: 10s;
  opacity: 0;
  /* FIXME: there is a bug in webkit where the filter property won't be applied while animating – https://bugs.webkit.org/show_bug.cgi?id=219729 */
  filter: blur(10px);
  transform: scale(1.1);
  transform-origin: center;
}

@keyframes fadeInLetter {
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

.transcriptButton {
  position: relative;
  padding: 15px;
  margin: -15px;
  opacity: 0;
  transition: 0.3s ease-out;
}

.transcriptButtonInner {
  width: 25px;
  height: 25px;
  padding: 15px;
  border: 1px dashed currentColor;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transcriptButton svg {
  position: absolute;
}

.audioFeedback {
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s ease-out;
  pointer-events: none;
  transform-origin: left center;
  transform: scaleX(0);
}
