.header {
  position: fixed;
  top: var(--header-margin);
  width: 100%;
  padding: 0 14px;
  transform: translateX(0) translateY(0) scale(1);
  transition: 0.8s ease-out;
  will-change: top, transform;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--header-margin);
  z-index: 2;
}

.headerRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0);
  will-change: transform;
  transition: 0.8s ease-out;
}
