.audioFeedback {
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: var(--transition-fast-out);
  pointer-events: none;
  transform-origin: left center;
  transform: scaleX(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioFeedback[data-is-not-splash-active="true"] {
  animation: appear 0.3s ease-in-out forwards 2s;
}

@keyframes appear {
  to {
    transform: scaleX(1);
  }
}

.userAudioLevels {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.userAudioLevels span {
  display: block;
  width: 2px;
  height: 30px;
  background-color: currentColor;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.01s, opacity 0.3s;
}

.userAudioLevels:not([data-is-listening="true"]) span {
  opacity: 0;
  transform: scaleY(0);
}
