.card {
  --size: min(230px, 50vw);
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --font-size: 14px;
  position: relative;
  flex: 0 0 var(--size);
  width: var(--size);
  aspect-ratio: 7/12;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-2);
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.1),
    0 4px 6px 2px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  transition: box-shadow var(--transition-fast-out);

  @media screen and (max-width: 768px) {
    --size: min(230px, 45vw);
  }
}

.card[data-variant="small"] {
  --size: min(120px, 25vw);
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --font-size: 12px;
}

.card[data-variant="lightbox"] {
  --size: min(400px, 75vw);
  --spacing-1: 0.75rem;
  --spacing-2: 1.5rem;
  --font-size: 18px;
}

.card[data-is-hovered="true"] {
  box-shadow: 0 20px 30px 5px rgba(0, 0, 0, 0.15),
    0 8px 12px 3px rgba(0, 0, 0, 0.1);
}

.cardBack h1:nth-of-type(2) {
  transform: rotate(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--card-color);
  border-radius: var(--spacing-2);
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.8s ease-out;
  will-change: transform;
}

.cardBack {
  background: var(--purple);
}

.cardFront {
  transform: rotateY(0deg) translateZ(1px);
}

.cardBack {
  gap: var(--padding-s);
  transform: rotateY(-180deg);

  @media screen and (max-width: 768px) {
    & svg {
      transform: scale(0.75);
      transform-origin: bottom;
    }
  }
}

.card[data-is-hidden="true"] .cardFront {
  transform: rotateY(180deg) translateZ(1px);
}

.card[data-is-hidden="true"] .cardBack {
  transform: rotateY(0deg);
}

.cardName {
  position: absolute;
  bottom: calc(-1 * var(--padding-s));
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-wrap: nowrap;
  z-index: 2;
  backface-visibility: hidden;
}

.cardName > * {
  font-family: var(--font-poppins);
  font-size: var(--font-size);
  font-style: italic;
  text-align: center;
}

.cardFront::before,
.cardFront::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cardFront::before {
  box-shadow: 0 0 var(--spacing-1) var(--spacing-2) var(--card-color) inset;
  z-index: 1;
}

.cardFront::after {
  background: var(--card-color);
  mix-blend-mode: color;
}

.cardImage {
  padding: var(--spacing-1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card[data-is-reverse="true"] .cardImage {
  transform: rotateZ(180deg);
  filter: invert(1);
}

.lightbox {
  position: fixed;
  top: calc(-1 * var(--header-safe-zone));
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 calc(-1 * var(--padding-s));
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  pointer-events: initial;
}

[data-show="overview"] .lightbox {
  top: calc(-2 * var(--header-safe-zone));
}

.lightboxContent {
  max-width: 100%;
  max-height: 100%;

  .cardImage {
    pointer-events: none;
  }
}

.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 2, 22, 0.75);
}

.drawerWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawerContent {
  position: absolute;
}
