.pressAndHoldCTA {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none !important;
  -webkit-user-select: none !important;

  --cta-size: calc(var(--text-size-s) * 7);
  --cta-y-offset: calc(var(--text-size-s) * 2);
}

.circleWrapper {
  position: relative;
  width: var(--cta-size);
  height: var(--cta-size);
  border: 1px dashed var(--cream);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale3d(1, 1, 1);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}

[data-is-pressed="true"] .circleWrapper {
  transform: scale3d(1.2, 1.2, 1);
  transition-delay: 0s;
}

.circleGlow {
  position: absolute;
  width: var(--cta-size);
  height: var(--cta-size);
  border-radius: 100%;
  background: var(--cream);
  filter: blur(5.60534px);
  transform: scale3d(0.1, 0.1, 1);
  transition: transform 0.5s ease-out;
  transition-delay: 0.1s;
}

[data-is-pressed="true"] .circleGlow {
  transform: scale3d(1, 1, 1);
  transition: transform var(--press-duration) linear;
  transition-delay: 0s;
}

.copy,
.copyWhilePress {
  position: absolute;
  top: calc(100% + var(--cta-y-offset));
  font-size: var(--text-size-s);
  line-height: 1.25;
  transform: translateY(0);
  transition: 0.5s ease-in-out 0.3s;
}

.circleCopy {
  font-size: var(--text-size-s);
  line-height: 1.25;
  font-style: italic;
}

.copyWhilePress {
  opacity: 0;
  transform: translateY(var(--cta-y-offset));
}

[data-is-pressed="true"] .copy {
  opacity: 0;
  transform: translateY(calc(-1 * var(--cta-y-offset)));
}

[data-is-pressed="true"] .copyWhilePress {
  opacity: 1;
  transform: translateY(0);
}
