.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.screenPartWrapper {
  position: absolute;
  width: 100%;
}

.screenPartWrapper[data-interactive="false"] {
  pointer-events: none;
}

.screenPartWrapper > div:first-of-type > article {
  margin-top: -2rem;
  border-top: 0;
}

.screenPartWrapper > div:not(:first-of-type) > article {
  border-top: 2px solid currentColor;
}

.copy > p > span {
  font-family: var(--font-cirka), serif;
  text-wrap: balance;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.5ch;
}

.copy p {
  margin-bottom: 1rem;
}

.splashCopy {
  text-align: center;
  margin-top: var(--header-safe-zone);
  max-width: 90vw;
  text-wrap: balance;
  font-size: var(--text-size-m);
}

.footer {
  position: relative !important;
  width: 100%;
  padding-bottom: 2rem;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 0.5s ease-out;
  z-index: 2;
}

.footerPart {
  position: absolute;
}

.idle,
.recording,
.thinking,
.speaking {
  position: absolute;
  top: 50%;
  font-style: italic;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempAiFeedback {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cardsInstructions {
  position: absolute;
  bottom: 2rem;
}

.irmaiAudioLevels {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}

.irmaiAudioLevels span {
  display: block;
  width: 2px;
  height: 20px;
  background-color: var(--purple);
  transform: scaleY(1);
  transition: 0.01s ease-in;
}

.irmaiAudioLevels:not([data-is-speaking="true"]) span {
  transform: scaleY(0) !important;
}

.recordAgainLink {
  display: inline-block;
  font-size: 14px;
  margin-top: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}
