.transitionWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.transitionWrapper[data-show="true"] {
  pointer-events: auto;
}

.transitionWrapper[data-show="false"] {
  pointer-events: none;
}
