.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(60px);
  transition: backdrop-filter var(--transition-slow-flow);
  background: radial-gradient(rgba(11, 2, 22, 0) 60%, rgba(11, 2, 22, 0.9) 98%);
  background-size: cover;
}

.pageContainer:has(
    > [class*="_stage"] > [class*="_screen"]:first-of-type[data-show="false"]
  ) {
  backdrop-filter: blur(0);
}

.pageContainer[class*="cards-visible"] {
  backdrop-filter: blur(40px) !important;
}
