.stage {
  position: fixed;
  top: var(--header-safe-zone);
  left: var(--padding-s);
  right: var(--padding-s);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - var(--header-safe-zone) - var(--footer-margin));
}

.screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
