.footer {
  position: fixed;
  bottom: var(--footer-margin);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: underline;
  font-size: 10px;
  line-height: 14px;
  padding: 4px 8px;
}
