.cardsShaker {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0 calc(-1 * var(--padding-s));
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: 0.5s ease-out 0.5s;
}

:not([data-show="true"]) > .cardsShaker {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(10px);
  pointer-events: none;
}

.shakerSpace {
  position: relative;
  width: min(30rem, 100vw);
  height: min(40rem, 70vh);

  @media screen and (max-width: 768px) {
    height: min(30rem, 60vh);
  }
}

.scrollableContainer {
  display: flex;
  overflow-x: scroll;
  height: 100%;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollableContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollableContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollableContainer > * {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.cardsGrid {
  perspective: calc(40rem * 2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cardsGrid > * {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transform-style: preserve-3d;
  will-change: transform, z-index;

  @media screen and (max-width: 768px) {
    top: calc(50% - var(--padding-s) * 2);
  }
}

.card[data-is-selected="true"] {
  opacity: 0;
}
