.cardsShaker {
  position: relative;
  width: 100%;
  height: calc(
    100vh - var(--header-height) - var(--footer-margin) - var(--padding-s) * 2
  );

  margin-top: calc(-1 * var(--header-margin));
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: 0.5s ease-out;
}

:not([data-show="true"]) > .cardsShaker {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(10px);
  pointer-events: none;
}

.shakerSpace {
  position: relative;
  width: calc(100% + var(--padding-s) * 2);
  height: 100%;
  overflow: hidden;
  padding: var(--padding-s);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.shakerSpace::-webkit-scrollbar {
  display: none;
}

.shakerDock {
  position: relative;
  width: 100%;
  height: 84px;
  padding: calc(var(--padding-s) * 2);
  margin-bottom: calc(var(--footer-margin) / 2);
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--padding-s);
}

.cardPullInstruction {
  position: absolute;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(2rem);
  will-change: opacity, filter, transform;
  transition: var(--transition-fast-out);
}

.cardPullInstruction[data-show="true"] {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.card[data-is-selected="true"] {
  opacity: 0;
}

.cardsGrid {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  gap: var(--padding-s);
}
