.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.landing > *:not(.landingCTA) {
  position: absolute !important;
}

.landingHeading,
.landingCopy1,
.landingCopy2 {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  will-change: opacity, transform;
}

[data-show="heading"] .landingHeading {
  opacity: 1;
  transform: translateY(0rem);
  transition-delay: 0.4s;
}

[data-show="copy1"] .landingCopy1 {
  opacity: 1;
  transform: translateY(0rem);
  transition-delay: 0.4s;
}

[data-show="copy2"] .landingCopy2 {
  opacity: 1;
  transform: translateY(0rem);
  transition-delay: 0.4s;
}

[data-show="end"] .landingHeading,
[data-show="end"] .landingCopy1,
[data-show="end"] .landingCopy2 {
  opacity: 0;
  transform: translateY(2rem);
}

.landing .heading {
  font-size: 3rem;
  line-height: 3rem;
  margin: auto;
  text-align: center;
  text-wrap: balance;
}

.landingCTA {
  position: relative !important;
  margin-top: auto;
}
