@tailwind base;
/* TODO: remove tailwind once we're sufficiently ready to archive POC */

body {
  --black: #0b0216;
  --cream: #fffbf2;
  --purple: #281595;
  background-color: var(--black);
  color: var(--cream);

  --header-margin: 35px;
  --header-height: 35px;
  --header-safe-zone: calc(var(--header-margin) * 2 + var(--header-height));
  --footer-margin: calc(55px + 1svh);
}

/* Animate the header when the splash screen is active */
[class^="stage"]:has(#splash[data-is-active="true"]) ~ [class^="header"] {
  transform: translateX(10%) translateY(-50%) scale(1.2);
  top: 50%;
}

[class^="stage"]:has(#splash[data-is-active="true"])
  ~ [class^="header"]
  [class*="headerRow"] {
  transform: translateX(calc(25% - 14px));
}

[class^="stage"]:has(#splash[data-is-active="false"])
  ~ [class^="header"]
  [class*="audioFeedback"] {
  animation: appear 0.3s ease-in-out forwards 0.8s;
}

[class^="stage"]:has(#splash[data-is-active="false"])
  ~ [class^="header"]
  [class*="transcriptButton"] {
  animation: fadeIn 0.3s ease-in-out forwards 0.8s;
}

@keyframes appear {
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
