@tailwind base;
/* TODO: remove tailwind once we're sufficiently ready to archive POC */

body {
  --black: #0b0216;
  --cream: #fffbf2;
  --purple: #281595;
  background-color: var(--black);
  color: var(--cream);

  font-family: var(--font-poppins), sans-serif;

  --header-margin: 35px;
  --header-height: 35px;
  --header-safe-zone: calc(var(--header-margin) * 2 + var(--header-height));
  --footer-margin: calc(55px + 1svh);
}
