@tailwind base;

:root {
  /* colours */
  --black: #0b0216;
  --cream: #fffbf2;
  --purple: #281595;

  /* header */
  --header-margin: 36px;
  --header-height: 36px;
  --header-safe-zone: calc(var(--header-margin) * 2 + var(--header-height));
  --footer-margin: calc(55px + 1svh);

  /* spacing */
  --padding-s: 14px;

  /* transitions */
  --transition-slow-flow: 0.8s cubic-bezier(0.65, 0.05, 0.35, 1);
  --transition-fast-out: 0.3s ease-out;
  --transition-slow-out: 1s ease-out;

  /* radii */
  --radius-s: 5px;

  /* typography */
  --text-size-s: 12px;
  --text-size-m: 16px;
  --text-size-l: 20px;
}

@media screen and (min-width: 992px) {
  :root {
    --text-size-s: 13.5px;
    --text-size-m: 18px;
    --text-size-l: 25px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --text-size-s: 16px;
    --text-size-m: 22px;
    --text-size-l: 28px;
  }
}

body {
  background-color: var(--black);
  color: var(--cream);
  font-family: var(--font-poppins), sans-serif;
  font-size: var(--text-size-m);
}

::selection {
  background-color: var(--purple);
  color: var(--cream);
}
